.venv/
__pycache__/
*.pyc
.pytest_cache/

data/*
data/raw/*
data/processed/*
outputs/*
runs/*

!data/README.md
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!outputs/.gitkeep
